/*felje*/

html{
  width:100%;
  height:100%;
 /* touch-action:none;*/
}

body{
  background-image:url("bdy.png");
  background-size:100% 100%;
  background-position:center;
  background-repeat:no-repeat;
  animation:delay 3s;
}

@keyframes delay{
  from{opacity:0;};
}

#upline{
width:100%;
height:80px;
background-color:#2CB156;
}


#home{
  font-size:40px;
  text-decoration:none;
  font-family:fonts1;
  position:relative;
  left:55%;
top:20%;
border-radius:10%;
color:#0A567A;
text-shadow: 2px 2px 2px #1D8ABD;
box-shadow:2px 2px 5px #444;
animation: hm 3s;
}
@keyframes hm{
  from{top:-20%;};
}
#home:hover{
  background-color:#0a0;
  box-shadow:2px 2px 5px #444;
  position:relative;
  left:55%;
top:50%;
}


#contacts{
  font-size:40px;
  text-decoration:none;
  font-family:fonts1;
  position:relative;
  left:60%;
top:20%;
border-radius:10%;
color:#0A567A;
text-shadow: 2px 2px 2px #1D8ABD;
box-shadow:2px 2px 5px #444;
animation: cnt 4s;
}
@keyframes cnt{
  from{top:-20%;};
}
#contacts:hover{
  background-color:#0a0;
  box-shadow:2px 2px 5px #444;
  position:relative;
  left:60%;
top:50%;
}


#prjct{
  font-size:40px;
  text-decoration:none;
  font-family:fonts1;
  position:relative;
  left:65%;
top:20%;
border-radius:10%;
color:#0A567A;
text-shadow: 2px 2px 2px #1D8ABD;
box-shadow:2px 2px 5px #444;
animation: prjct 5s;
}
@keyframes prjct{
  from{top:-20%;};
}
#prjct:hover{
  background-color:#0a0;
  box-shadow:2px 2px 5px #444;
  position:relative;
  left:65%;
top:50%;
}


#Felje{
  font-family:monospace;
  font-weight:1000;
  font-size:30px;
  border-left:solid #00f;
  border-left-width:10px;
  /*background:linear-gradient(to right,#abf,#fff);*/
  background-repeat:no-repeat;
  width:50%;
  position:relative;
  left:5%;
  color:#0aa;
  text-shadow:1px 1px 3px #a00;
  padding-left:1%;
  animation:fade 2s;
}
@keyframes fade{
 from{left:-40%;};
}


#mypic{
  width:200px;
  height:230px;
  background-image:url("cute.gif");
  background-size:100% 100%;
  box-shadow:3px 3px 7px #444;
  margin:5%;
  border-radius:5%;
}


@font-face {
  font-family:fonts1;
  src:url(Dreaming_Charlotte.ttf);
}

@font-face {
  font-family:fonts2;
  src:url(Rolend.ttf);
}

@font-face{
  font-family:fonts3;
  src:url(Rulythem.ttf);
}

#about_my_self{
  margin-left:8%;
  font-family:fonts1;
  font-size:40px;
  text-shadow:1px 1px 3px #099;
}

#about{
  font-family:serif;
  text-shadow:1px 1px 3px #99f;
  line-height:1.8;
  margin-left:5%;
  margin-right:2%;
  text-transform:capitalize;
  font-size:20px;
  font-weight:800;
}

#skills{
margin-left:5%;
  font-family:fonts1;
  font-size:40px;
  text-shadow:1px 1px 3px #099;
}


#skills_position{
  margin-left:5%;
}

label{
  font-family: fonts2;
  font-size:30px;
  text-shadow:2px 2px 4px #845536;
}

.container{
 margin-right:5%;
  background-color:#ddd;
}
.skills{
  text-align:right;
  color: white;
}

.java{width: 40%;background-color:#00f;animation: load1 10s;}
@keyframes load1{
  from{width:0%;};
}

.html{width: 50%; background-color:#4A5;animation:load2 11s;}
@keyframes load2{
  from{width:0%;};
}

.css{width: 50%; background-color:#29F;animation:load3 13s;}
@keyframes load3{
  from{width:0%;};
}

.js{width: 30%; background-color:#f43;animation:load4 13s;}
@keyframes load4{
  from{width:0%;};
}


.php{width:20%; background-color:#888;animation:load5 14s;}
@keyframes load5{
  from{width:0%;};
}



.python{width:20%; background-color:#768561;animation:load5 17s;}
@keyframes load5{
  from{width:0%;};
}
